.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    
}

.thumbnail {
    width: 80px;
    height: 100px;
    
}

.msg {
    height: 40px;
}

.para {
    width: 100%;
}
